#Django==1.8.3
#PyJWT==1.4.0
#PyYAML==3.11
#argparse==1.2.1
#coverage==3.7.1
#nose==1.3.7
#selenium==2.46.1
#wsgiref==0.1.2

-r requirements/requirements-base.txt
-r requirements/requirements-testing.txt
-r requirements/requirements-documentation.txt
-r requirements/requirements-codestyle.txt
-r requirements/requirements-packaging.txt
